

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .Pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .Pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .Pagination span {
    font-size: 16px;
  }
  